.footer {
  padding: 40px 16px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  font-size: 0.875rem;
  text-align: center;
  .logo {
    margin-bottom: 24px;
    > a {
      font-family: "Cormorant Garamond", serif;
      font-weight: 600;
      font-size: 2rem;
    }
  }
  .links {
    margin-bottom: 24px;
    > a {
      > span {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
        &:focus {
          clip: auto;
          height: auto;
          overflow: auto;
          position: absolute;
          width: auto;
        }
      }
      > svg {
        fill: #535353;
        margin: 0 8px !important;
        cursor: pointer;
        transition: fill 0.2s;
        &:hover {
          fill: #121212;
        }
      }
    }
  }
  .copyright {
    color: #767676;
  }
}
