.container {
  padding: 60px 24px 0;
  .welcome {
    padding: 60px 0;
    .left {
      > h1 {
        font-weight: 600;
        font-size: 3.25rem;
        line-height: 1.15;
        margin-bottom: 24px;
      }
      > p {
        margin-bottom: 40px;
        line-height: 1.7;
      }
      > button {
        margin-bottom: 40px;
      }
    }
    .illustration {
      position: relative;
      height: 300px;
      .background {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../public/assets/images/person-background.svg");
        background-size: cover;
        animation: floating 3s ease-in-out infinite;
      }
      .person {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../public/assets/images/michael.svg");
        background-size: cover;
        animation: floating 4s ease-in-out infinite;
      }
      .note1 {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../public/assets/images/note1.svg");
        background-size: cover;
        animation: floatingReverse 2.25s ease-in-out infinite;
      }
      .note2 {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../public/assets/images/note2.svg");
        background-size: cover;
        animation: floating 5s ease-in-out infinite;
      }
    }
  }
  .about {
    padding: 60px 0;
    > h2 {
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.15;
      margin-bottom: 24px;
    }
    > div {
      > p {
        margin-bottom: 24px;
        line-height: 1.7;
      }
    }

    > button {
      margin-top: 16px;
    }
  }
  .projects {
    padding: 60px 0;
    > h2 {
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.15;
      margin-bottom: 40px;
    }
    > p {
      margin-bottom: 24px;
      line-height: 1.7;
    }
    > ul {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 24px;
      column-gap: 24px;
    }
    > button {
      margin-top: 16px;
    }
  }
  .articles {
    padding: 60px 0;
    > div {
      > h2 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.15;
        margin-bottom: 40px;
      }
    }

    > ul {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 40px;
      column-gap: 24px;
    }
  }
  .contact {
    padding: 60px 0;
    > h2 {
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.15;
      margin-bottom: 24px;
    }
    > p {
      margin-bottom: 40px;
      line-height: 1.7;
    }
  }
  > hr {
    border: none;
    border-bottom: 1px solid #ccc;
    border-color: rgb(214, 214, 214);
  }
}

@media screen and (min-width: 768px) {
  .container {
    .welcome {
      padding: 90px 0;
      display: flex;
      align-items: center;
      .left {
        > h1 {
          font-size: 2.5rem;
        }
      }
      .illustration {
        height: 350px;
        min-width: 330px;
      }
    }
    .about {
      padding: 90px 0;
      > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        > p {
          margin-bottom: 24px;
          line-height: 1.7;
        }
      }
    }
    .projects {
      padding: 90px 0;
      > ul {
        grid-template-columns: 1fr 1fr;
      }
    }
    .articles {
      padding: 90px 0;
      display: flex;
      > div {
        > h2 {
          position: sticky;
          top: 110px;
          margin-right: 32px;
          margin-bottom: 0px;
          font-weight: 600;
          font-size: 2rem;
          line-height: 1.15;
          margin-bottom: 40px;
        }
      }
      > ul {
        margin: 0;
      }
    }
    .contact {
      padding: 90px 0;
      text-align: center;
      > p {
        padding: 0 80px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    .welcome {
      padding: 100px 0;
      .left {
        > h1 {
          font-size: 2.75rem;
        }
      }
      .illustration {
        height: 450px;
        min-width: 450px;
      }
    }
    .about {
      padding: 100px 0;
      > div {
        > p {
          margin-bottom: 24px;
          line-height: 1.9;
        }
      }
    }
    .projects {
      padding: 100px 0;
      > ul {
        row-gap: 36px;
        column-gap: 36px;
      }
    }
    .articles {
      padding: 100px 0;
      > ul {
        row-gap: 60px;
        column-gap: 24px;
      }
    }
    .contact {
      padding: 100px 0;
    }
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 16px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes floatingReverse {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
